In [10]:
# Dependencies and setup
%matplotlib inline
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
reservoirs_and_bayou_df = pd.read_csv('../data/clean_data/reservoirs_and_bayou.csv')
reservoirs_and_bayou_df.head()

,Date,Addicks storage (acre ft),Addicks elevation (ft),Addicks rain (in),Barker storage (acre ft),Barker elevation (ft),Barker rain (in),Dairy Ashford rain (in),Beltway 8 rain (in),San Felipe rain (in),Shepherd rain (in),Milam rain (in),Dairy Ashford elevation (ft),Beltway 8 elevation (ft),San Felipe elevation (ft),Shepherd elevation (ft),Milam elevation (ft),Flow discharge rate (cfs)
0,1/1/2017,NaN,77.55,0.00,61.08,78.24,0.00,0.00,0.00,0.00,0.00,0.00,46.33,36.73,23.82,2.97,2.01,NaN
1,1/2/2017,NaN,80.78,0.52,265.60,78.96,0.52,0.84,0.12,0.88,0.88,1.08,52.13,43.57,29.38,6.50,4.07,NaN
2,1/3/2017,NaN,83.34,0.00,103.70,79.86,0.00,0.00,0.00,0.00,0.00,0.00,53.96,45.24,30.88,5.57,2.18,NaN
3,1/4/2017,NaN,83.08,0.00,642.80,79.94,0.00,0.00,0.00,0.00,0.00,0.00,53.90,45.24,30.93,5.94,1.72,NaN
4,1/5/2017,NaN,80.48,0.00,379.70,78.86,0.00,0.00,0.00,0.00,0.00,0.00,53.16,44.63,30.55,5.93,1.97,NaN

In [11]:
# Replace all NaN values with 0 
reservoirs_and_bayou_df = reservoirs_and_bayou_df.fillna(0)

# Set index of dataframe to be "Date" of calendar year 2017
reservoirs_and_bayou_df.set_index("Date").head()

,Addicks storage (acre ft),Addicks elevation (ft),Addicks rain (in),Barker storage (acre ft),Barker elevation (ft),Barker rain (in),Dairy Ashford rain (in),Beltway 8 rain (in),San Felipe rain (in),Shepherd rain (in),Milam rain (in),Dairy Ashford elevation (ft),Beltway 8 elevation (ft),San Felipe elevation (ft),Shepherd elevation (ft),Milam elevation (ft),Flow discharge rate (cfs)
Date,,,,,,,,,,,,,,,,,
1/1/2017,0.0,77.55,0.00,61.08,78.24,0.00,0.00,0.00,0.00,0.00,0.00,46.33,36.73,23.82,2.97,2.01,0.0
1/2/2017,0.0,80.78,0.52,265.60,78.96,0.52,0.84,0.12,0.88,0.88,1.08,52.13,43.57,29.38,6.50,4.07,0.0
1/3/2017,0.0,83.34,0.00,103.70,79.86,0.00,0.00,0.00,0.00,0.00,0.00,53.96,45.24,30.88,5.57,2.18,0.0
1/4/2017,0.0,83.08,0.00,642.80,79.94,0.00,0.00,0.00,0.00,0.00,0.00,53.90,45.24,30.93,5.94,1.72,0.0
1/5/2017,0.0,80.48,0.00,379.70,78.86,0.00,0.00,0.00,0.00,0.00,0.00,53.16,44.63,30.55,5.93,1.97,0.0

In [ ]:
# Create a list of the years that we will use as our x axis
x_axis =